/*start variables*/
:root {
    --mainColor:#10cab7;
    --mainPadding: 60px;
    --seconderyColor: #2c4755;
}
/**end variables*/
/*staert components*/
.special-heading {
    color: #edeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;

}
.special-heading + p {
    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media  (max-width: 767px) {
    .special-heading {
        font-size: 40px;
    }
    .special-heading + p {
        font-size: 15px;
        margin-top: -20px;
    }
    
}
/*end components*/
/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body {
    font-family: "Work Sans", serif;
}
html {
    scroll-behavior: smooth;
}
.header {
    background-color: #ced4d8;
    color: #fff;
    padding: 10px 0;
    z-index: 10000;
    
}
.container {
   /*width: 1170px;*/ 
   width: 80%;
    margin: 0 auto;
}
/*small*/
@media (min-width : 780px) {
    .container{width: 750px;}
    
}
/*medium*/
@media (min-width : 992px) {
    .container{width: 1200px;}
    
}
/*larg
@media (min-width : 1200px) {
    .container{width: 1700px;}
    
}*/
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}       
.header .logo {
    width: 60px;
}
.header .logo img {
    width: 100%;}
  
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
}
.header .links .icon span:first-child {
    width: 100%;
    height: 3px;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    height: 3px;
    transition: 0.3s;
}
.header .links .icon span:last-child {
    width: 100%;
    height: 3px;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:rgb(210, 212, 212);
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
   
   
}
.header .links:hover ul {
    display: block;
}
.header .links ul::before {
    content:"" ;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    right: 5px;
    top: -20px

}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #6c6767;
    transition: 0.3s;

}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/*end header*/
/*start landing*/
.landing {
    background-image: url(../images/mauntin.jpg);
    background-size: cover;
    height: calc(100vh - 44px);
    position: relative;
    width: 100%;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
   

}
.landing .intro-text h1{
    margin: 0;
    color: var(--mainColor);
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.7;
   
}
/*end landing*/
/*start features*/
.features {
   
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    background-color:#f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
  ;
}
.features .feat i {
    color: var(--mainColor);
    margin-bottom: 10px;
}
.features .feat h3 {
    font-weight: 800px;
    margin:30px 0;

}
.features .feat p {
    line-height: 1.7;
    color: #777;
    font-size: 17px;
    margin-bottom: 20px;
}

/*end features*/
/*start services*/
.services {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);

}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
    
}
.services .services-content .srv i {
    color: var(--mainColor);
    margin-right: 20px;
    font-size: 30px;
}
.services .services-content .srv h3 {
    margin: 0;
    font-weight: 800;
    font-size: 20px;
}   
.services .services-content .srv p {
    line-height: 1.7;
    color: #777;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight:300 ;
}
.services .services-content .image {
    position: relative;
    text-align: center;
    z-index: 200;
}

@media screen and (max-width: 767px) {
    .services .services-content .image-column {
        display: none;
    }
    
}
/*end services*/
/*start protfolio*/
.portfolio {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    background-color: #f6f6f6;
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card {
    position: relative;
    background-color:white ;
}
.portfolio .portfolio-content .card img {
    
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    transform: translateY(100%);
    transition: 0.3s;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    font-size: 17px;
    line-height: 1.7;
}
/*end protfolio*/
/*start about*/
.about {
    margin-top: 100px;
    padding-top: var(--mainPadding);
    padding-bottom: calc(var(--mainPadding) + 60px );
}
.about .about-content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    left:-20px; 
    top: -35px;
    width: 50px;
    height:calc(100% + 70px);
    background-color: #edeced;
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 300px;
    right: -150px;
    z-index: -1;
    top: -40px;
    border-left: 80px solid var(--mainColor);
    border-bottom: 80px solid var(--mainColor);
}
.about .about-content .text{
    flex: 1;
    padding-left: 200px;

}
.about .about-content .text p:first-of-type {
    line-height: 2;
    color: #777;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: bold;
}
.about .about-content .text h2 {
    font-weight: 800;
    margin: 0;
    font-size: 30px;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
    font-size: 17px;
    margin-bottom: 20px;
}
/*end about*/
/*start contact*/
.contact {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    background-color: #f6f6f6;
}
.contact .info {
    
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    text-align: center;
}
.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: #777;
    letter-spacing: -2px;
    margin-bottom: 20px;
}
.contact .info .link {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color:var(--mainColor);
}
.contact .info .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--seconderyColor);
}
@media ( max-width: 767px) {
    .contact .info .label , .contact .info .link {
        font-size: 25px;
       
    }
    
}
/*end contact*/
/*start footer*/
.footer {
    background-color: var(--seconderyColor);
    padding-top: 30px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
}
.footer span {
    color: var(--mainColor);
    font-weight: bold;
}